:root {
   --background-color: #25262a;
   --detail-color-1: #fcc424;
   --detail-color-2: #ffffff;

   --fs-1: clamp(1.5rem, 1rem + 1.25vw, 2.5rem);
   --fs-2: clamp(1rem, 0.75rem + 0.625vw, 1.5rem);
   --fs-3: clamp(0.75rem, 0.5rem + 0.625vw, 1.25rem);
   --fs-1-sm: clamp(1rem, 0.5476190476190477rem + 2.380952380952381vw, 1.5rem);
   --fs-2-sm: clamp(
      0.5rem,
      -5.551115123125783e-17rem + 1.8750000000000002vw,
      0.75rem
   );
   --fs-3-sm: clamp(0.6rem, 0rem + 2.5vw, 1rem);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: var(--background-color);
   width: 100%;
}

/* ?-------------------- Navbar ------------------------ */

nav {
   margin-top: 1rem;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.logo {
   margin-left: 2rem;
}

.logo a {
   text-decoration: none;
   color: var(--detail-color-2);
   font-weight: 700;
   font-size: 2.5rem;
}

.logo a span {
   color: var(--detail-color-1);
}

.navbar {
   float: right;
   margin-right: 2rem;
}

li {
   padding-left: 2rem;
   display: inline-block;
}

.nav-links :hover {
   border: 1px solid var(--detail-color-2);
   padding: 0.3rem;
   border-radius: 1.5em;
}

li a {
   text-decoration: none;
   color: var(--detail-color-1);
   font-weight: 500;
   font-size: 0.875rem;
   text-transform: uppercase;
}

.line {
   color: var(--detail-color-1);
   padding-left: 1rem;
}

.nav-icon {
   padding-left: 1rem;
}

.icon {
   color: #ffdf12;
   box-shadow: 0 0 2px #888;
   border-radius: 50%;
   padding: 0.5em 0.6em;
}

.icon:hover {
   border: 1px solid var(--detail-color-2);
}

@media (max-width: 45em) {
   .navbar {
      display: block;
      height: 20px;
      writing-mode: vertical-lr;
      white-space: nowrap;
      margin-left: auto;
   }

   .navbar li a {
      padding: 1rem;
   }

   .nav-icon {
      padding-left: 1rem;
   }

   .navbar li .icon {
      padding: 0.6em 0.5em;
      margin-top: 0.7rem;
   }
}

/* ?--------------------Main section------------------------ */

.main-section {
   display: flex;
   margin-top: 8vh;
}

.col-1 {
   position: relative;
   flex-basis: 40%;
   padding-left: 7vw;
   padding-top: 5vh;
}

.col-1 img {
   width: 35vw;
}

.col-2 {
   position: relative;
   flex-basis: 40%;
   padding-left: 5vw;
   margin-top: auto;
   margin-bottom: auto;
   text-transform: uppercase;
   color: var(--detail-color-2);
}

.col-2 h1 span {
   color: var(--detail-color-1);
}

.col-2 h1 {
   font-weight: 500;
   font-size: var(--fs-1);
   letter-spacing: 4px;
}

.col-2 h3 span {
   color: var(--detail-color-1);
   font-size: var(--fs-3);
}

.col-2 h3 {
   padding-top: 0.375em;
   font-weight: 400;
   font-size: var(--fs-2);
}

.cv-btn {
   font-size: 0.75em;
   font-weight: 600;
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   text-transform: uppercase;
   background-color: var(--detail-color-1);
   color: #25262a;
   margin-top: 1.5em;
   padding: 0.7em 2em;
   border-radius: 1.5em;
}

.cv-btn:hover {
   background-color: var(--background-color);
   color: var(--detail-color-1);
   border: 2px solid var(--detail-color-1);
   box-shadow: inset 0 0 0.6em 0 var(--detail-color-1),
      0 0 0.6em 0 var(--detail-color-1);
}

@media (max-width: 45em) {
   .main-section {
      display: grid;
      grid-template-columns: 1fr;
   }

   .col-1 {
      padding-left: 0;
      width: max-content;
      margin-left: 12vw;
   }

   .col-2 {
      margin-top: 0;
      padding-top: 2vh;
      margin-left: 10vw;
      width: max-content;
   }

   .col-1 img {
      width: 60vw;
   }

   .col-2 h1 {
      color: var(--detail-color-2);
      font-size: var(--fs-1-sm);
   }

   .col-2 h3 span {
      color: var(--detail-color-1);
      font-size: var(--fs-2-sm);
   }

   .col-2 h3 {
      padding-top: 0.375em;
      font-weight: 400;
      font-size: var(--fs-3-sm);
   }

   .cv-btn {
      font-size: 0.5em;
      font-weight: 600;
      padding: 0.7em 2em;
   }
}

/* ?-------------------- About ------------------------ */

.about-section {
   margin-top: 7vh;
   padding-left: 8vw;
   display: flex;
}

.description {
   color: var(--detail-color-2);
   position: relative;
   flex-basis: 90%;
}

.description h2 {
   letter-spacing: 4px;
   padding-bottom: 0.3rem;
   font-weight: 500;
   font-size: var(--fs-2);
   text-transform: uppercase;
}

.description p {
   text-align: justify;
   line-height: 1.2rem;
   font-size: var(--fs-3);
   font-weight: 400;
}

@media (max-width: 45em) {
   .about-section {
      display: grid;
      grid-template-columns: 1fr;
      padding-left: 10vw;
      width: 90vw;
   }

   .description h2 {
      font-size: var(--fs-1-sm);
   }

   .description h4 {
      font-size: var(--fs-3-sm);
   }

   .description p {
      font-size: var(--fs-3-sm);
   }
}

/* ?-------------------- Skills ------------------------ */

.skills-header {
   letter-spacing: 4px;
   margin-left: 8vw;
   margin-top: 10vh;
   font-weight: 500;
   font-size: var(--fs-2);
   text-transform: uppercase;
   color: var(--detail-color-2);
}
.skills-section {
   margin-top: 2vh;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(8rem, 2fr));
   gap: 2rem;
   padding-inline: 8vw;
}

.skill-card {
   display: flex;
   flex-wrap: wrap;
   height: 2.2em;
   border-radius: 1.5em;
   background: rgb(252, 196, 36);
   box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
   border: 1px solid #ffffff29;
   justify-content: center;
   align-content: center;
}

.soft {
   height: 2.5em;
}

.soft-section {
   grid-template-columns: repeat(auto-fill, minmax(16rem, 2fr));
}

.skill-card i img h5 {
   color: var(--background-color);
   font-size: 2em;
}

.skill-card img {
   height: 1.2em;
}

.skill-card h5 {
   text-transform: uppercase;
   padding-left: 0.6em;
   font-weight: 500;
}

/* ?-------------------- Procejts ------------------------ */

.project-header {
   letter-spacing: 4px;
   margin-left: 8vw;
   margin-top: 10vh;
   font-weight: 500;
   font-size: var(--fs-2);
   text-transform: uppercase;
   color: var(--detail-color-2);
}

.projects-section {
   margin-top: 2vh;
   padding-inline: 8vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.projects-section h2 {
   letter-spacing: 4px;
   font-weight: 500;
   font-size: var(--fs-2);
   text-transform: uppercase;
   color: var(--detail-color-2);
}

.projects-section p {
   padding-bottom: 2em;
   line-height: 1.4rem;
   font-size: var(--fs-3);
   color: var(--detail-color-2);
   font-weight: 400;
   text-align: justify;
}

.web-cart {
   width: 45%;
}

.web-cart h3 {
   padding: 1em 0;
   color: var(--detail-color-1);
   font-weight: 400;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.web-cart img {
   width: 100%;
   border: 1px solid #fff;
   border-radius: 0.5rem;
}

@media (max-width: 45em) {
   .projects-section {
      flex-direction: column;
   }
   .web-cart {
      width: auto;
      height: fit-content;
   }
}

/* ?-------------------- Contact ------------------------ */

.contact-section {
   margin-top: 3rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.contact-container {
   display: flex;
   flex-direction: column;
   height: 70vh;
   justify-content: center;
}

.contact-container img {
   margin-inline: auto;
   width: 20%;
   padding-bottom: 2rem;
}

.contact-section h2 {
   letter-spacing: 4px;
   padding-bottom: 0.3rem;
   font-weight: 500;
   line-height: 3rem;
   font-size: var(--fs-2);
   text-transform: lowercase;
   color: var(--detail-color-2);
}

.contact-section h3 {
   color: var(--detail-color-2);
}

.contact-adress {
   text-align: center;
}
